@model test0000001.Models.DTO.Registration
@{
}
<body style="background-color:grey">
	<table align="center" border="0" cellpadding="0" cellspacing="0"
		   width=100% bgcolor="white" style="border:2px solid #15233C;">
		<tbody>
			<tr>
				<td align="center">
					<table align="center" border="0" cellpadding="0"
						   cellspacing="0" class="col-550" width=100%>
						<tbody>
							<tr>
								<td align="center" style="background-color: #15233C!important;
                                           height: 50px;">

									<a href="#" style="text-decoration: none;">
										<p style="color:white;
                                                  font-weight:bold;">
											INSURANCE SERVICE
										</p>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr style="height: 300px;">
				<td align="center" style="border: none;
                           border-bottom: 2px solid #15233C;
                    padding-right: 20px;padding-left:20px">
					<img src="https://lh3.googleusercontent.com/pw/ADCreHcatPfKk34uqgi4hu6JgCZEHCoRlNWq5vu9Zh6n5kR6GRfNouzrruUdJvj4Hx1rA-xS_9nWR8rEnJ2KO3-l7aYIL-6pWVmRmJArINttOKww3Ehw4ui5pvShrENX9gE1lv6RrPZeiG2paSol0IrIxdg4CMp61OKOMQgj9-R7B-UqYCdu4UDQFl_BcX6nesGT0waipWLvNzgVRMiupyzm-avxaP3HvCYrWAl3FRDQtical2UGOpDx2Hcii1hjDTAPCUrDUdbZTh1YqEisHZ1Qq4bURKR5ehBSsRJUN2Nsxa8jvXlAxBWRSDykfJprbypepZkB0kruWAFjMvKvT_wm2wXuz68Po1MYfsmU8LKfY1Z0pyDTVht0C9uOV8YVlnnhztrxCxdXkiVtt0EB_tKNZa9-sTjCdQMTaybKqIt6MvuJsCcxgr06Naqu9kWV2nPmQ1RQ8pCGKA3i5JEX-7JKzKO8qPIvoWzOm_PI-1uFRPfY62UTJLrq7SGUTx2zLVO53oPrgo3nOh5F8SRnGV6KloFWdNZEOYqmo3Vu4HIpaN21bbgSMDrLYNxl76kGtzrdfqQN6WEhIi14v1o3pj8DbVJG-q1KSXuMmJvKjILhOLPgrIkfVOGMMOrSNmxvBLoe8sfMOmn6hH4mG36UJOR430jZLBSuyzSSzqR4c-OnRlRsTQ88cLiU8R1m-C6soYPDxk-W2w8-iR32awqPjBhP13y__WgSp9CyFVucJAMSCjnNZBRJ_Ah9UZ0cNVbBdLKBC8NBQrX8rdf2l-yuAS52r8NRuLNMCRGY12apjrXTuCw04CO6qQeeufxOHPAMp-vXkt74bcMzAAnbZQolLTaMIfogHU5d8JBnOMpoeWIe4OXBQdTS03mDrsniiUxrPIqUJWX6bYpJE2EwXitSP_4cPJ2I7Uw=w517-h61-s-no?authuser=0" alt="">
					<p style="font-weight: bolder;font-size: 40px;
                              letter-spacing: 0.025em;
                              color:#15233C;text-align: left">
						Dear @Model.FirstName @Model.LastName,
					</p>
					<p style="font-weight: bolder;font-size: 20px;
                              letter-spacing: 0.025em;
                              color:#15233C;text-align: left">Congrats, Your registration via Google account is successfully.</p>
					</p>
				</td>
			</tr>

			<tr style="display: inline-block;">
				<td style="height: 150px;
                           padding: 20px;
                           border: none;
                    /*        border-bottom: 2px solid #15233C; */
                           background-color: white;
							color:#15233C;
							width:100vh;">

					<h2 style="text-align: left;
                               align-items: center;">
						Welcome to Insurance Service, this email is announce about your success registration via Google account.
						<br />

					</h2>
					<p class="data"
					   style="text-align: justify-all;
                              align-items: center;
                              font-size: 15px;
                              padding-bottom: 12px;">
						You can check more information in Policyholder tab at your Profile Page, or Click button below
					</p>
					<p>
						<a href="http://localhost:5169/Home/"
						   style="text-decoration: none;
                                  color:white;
                                  border: 2px solid #15233C;
                                  padding: 10px 30px;
                                  font-weight: bold;background-color: #15233C;">
							Read More
						</a>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</body>