@{
    Layout = null;
}

<div style="margin: auto; font-size: 12px; background-color: #15233C; height: 56px; color: #ffffff;">
    Page <span class="pageNumber"></span> of <span class="totalPages"></span>
</div>