
<!-- Definition Start -->
<section class="row mt-3">
    <div class="text-uppercase h5 border-bottom border-primary text-primary">
        V. Definition
    </div>
    <dl class="row">
        <dt class="col-sm-3">Insurance Contract</dt>
        <dd class="col-sm-9">
            <div>
                <div>The insurance contract is a written agreement between the Insurance purchaser (Policyholder) and the insurer, which records the rights and obligations of the parties during the contract performance.</div>
                <div>
                    The insurance contract includes the following documents:
                    <ul>
                        <li>Insurance requirements;</li>
                        <li>Insurance certificate;</li>
                        <li>Rules and provisions of the product have been approved by the Ministry of Finance;</li>
                        <li>Table of insurance benefits;</li>
                        <li>Documents amending and supplementing insurance contracts (if any).</li>
                    </ul>
                </div>
            </div>
        </dd>

        <dt class="col-sm-3">Insurer</dt>
        <dd class="col-sm-9">
            <p>
                Is <b class="text-uppercase">"Insurance Service"</b>, the Ministry of Finance granted a license to establish and operate No. 69 GP/KDBH dated January 24, 2013 (amended and supplemented).
            </p>
        </dd>

        <dt class="col-sm-3">Policyholder</dt>
        <dd class="col-sm-9">
            <p>
                Is an individual from full 18 years of age, with full civil act capacity; is the person who directly declares and signs on the application for insurance, pays insurance premiums and performs the rights and obligations specified in the insurance contract.
            </p>
        </dd>

        <dt class="col-sm-3">Insured</dt>
        <dd class="col-sm-9">
            <p>
                Is an individual aged from 30 days to 65 years old on the contract date and is accepted by the insurerby the insureraccording to this policy rules and terms.
            </p>
        </dd>

        <dt class="col-sm-3">Beneficiary</dt>
        <dd class="col-sm-9">
            <p>
                Is individual designated by the Policyholder (with the consent of the insured or the legal representative of the insured) receiving the insurance benefits according to the rules and the rules and Terms of this policy.
                <br />
                The beneficiary is named in the insurance request dossier, insurance certificate and additional agreements of the insurance contract (if any).
            </p>
        </dd>

        <dt class="col-sm-3">Insurance age</dt>
        <dd class="col-sm-9">
            <p>
                Is the age of the insured by the nearest birthday before the contract effect or the contract anniversary in the next contract years.
            </p>
        </dd>

        <dt class="col-sm-3">Face amount</dt>
        <dd class="col-sm-9">
            <p>
                Is the amount of money the insurerapproves insurance according to the rules and terms of this policy and is recorded on the Certificate of Insurance and/or the latest amendment and supplementation (if available).
            </p>
        </dd>

        <dt class="col-sm-3">Insurance premium</dt>
        <dd class="col-sm-9">
            <p>
                Is the insurance premium based on the amount of insurance, age and gender of the insured person at the time of the insurance contract. The basic premium is written on the Certificate of Insurance and/or the latest amendment and supplementation (if any).
            </p>
        </dd>

        <dt class="col-sm-3">Policy Term</dt>
        <dd class="col-sm-9">
            <p>
                Is the validity period of the insurance contract, and is written on the insurance certificate. The insurance period of this policy is from 35 to 100 years, depending on the age of the insured person when participating in the insurance; And in all cases, it will not exceed the contract anniversary right after the 100th birthday of the insured.
            </p>
        </dd>

        <dt class="col-sm-3">Payment Term</dt>
        <dd class="col-sm-9">
            <p>
                Is the period for Policyholders to pay insurance premiums for the insurerand equal to the insurance term. The term of compulsory fee is the first 3 years of contract, the Policyholder may pay flexibly from the 4th contract.
            </p>
        </dd>

        <dt class="col-sm-3">Contract effect date</dt>
        <dd class="col-sm-9">
            <p>
                Is the day the Policyholder completes the insurance request dossier and pays enough insurance premiums if the Policyholder and the insured person are still alive at the time of the application for insurance. approved by the insurer. The valid date of the contract is written on the insurance certificate.
            </p>
        </dd>

        <dt class="col-sm-3">Due date</dt>
        <dd class="col-sm-9">
            <p>
                Is the date of payment of periodic premiums as agreed in the insurance contract or the most relevant amendments and supplements (if any).
            </p>
        </dd>

        <dt class="col-sm-3">Maturity date</dt>
        <dd class="col-sm-9">
            <p>
                Is the last day of the contract term stated on the insurance certificate if the contract is still valid until that time.
            </p>
        </dd>
    </dl>
</section>
<!-- Definition End -->
<!-- Insurance Benefits Start -->
<section class="row mt-3">
    <div class="text-uppercase h5 border-bottom border-primary text-primary">
        VI. Insurance benefits
    </div>
    <dl class="row">
        <dt class="col-sm-3">Death benefits</dt>
        <dd class="col-sm-9">
            <p>
                If the Insured Person dies during the term of the Insurance Contract, except for the cases specified in Article 6.1, The Insurer will pay the Death Benefit according to one of the following two benefit options chosen by the Party. purchase designated insurance and recorded on the Insurance Certificate and/or most recent related amendments and supplements (if any), except Debt (if any):
                <ul>
                    <li>Increased savings benefit: pays the greater value between the Insurance Amount and the Account Value at the time of the Insured's death; or</li>
                    <li>Increased protection benefit: pays the Insured Sum plus the Account Value at the time of the Insured's death.</li>
                </ul>
                The Protection Benefit will automatically convert to the Savings Benefit on the Policy Anniversary immediately following the Insured's 70th birthday.
                <br />
                The insurance contract will terminate immediately upon the death of the Insured Person.
            </p>
        </dd>

        <dt class="col-sm-3">Permanent total disability benefits</dt>
        <dd class="col-sm-9">
            <p>
                If the Insured Person suffers Total and Permanent Disability during the period of validity of the Insurance Contract and before the Policy Anniversary immediately following the Insured Person's 6th birthday, except in the cases specified In the "Exclusion Clause", The Insurer will pay the Total and Permanent Disability benefit according to one of the following two benefit options specified by the Policyholder and recorded on the Insurance Certificate and/or Most recent relevant amendments and supplements (if any), except Debt (if any):
                <ul>
                    <li>Increased savings benefit: pays the greater value between the Insurance Amount and the Account Value at the time the Insured Person becomes Totally and Permanently Disabled; or</li>
                    <li>Increased protection benefit: pays the Insurance Amount plus Account Value at the time the Insured Person becomes Total and Permanent Disabled.</li>
                </ul>
                The insurance contract will terminate as soon as the Total Permanent Disability Benefit is approved for payment.
            </p>
        </dd>

        <dt class="col-sm-3">Terminal cancer benefits</dt>
        <dd class="col-sm-9">
            <p>
                During the validity of the Insurance Contract, except for the cases specified in the "Exclusion Clause", if the Insured Person is diagnosed with terminal cancer:
                <ul>
                    <li>The insurance buyer will receive an interest-free advance of up to 50% of the account value but not exceeding 500,000,000 VND; and</li>
                    <li>Account value, including paid Terminal Cancer Benefits, will still accrue interest for 12 months from the date of advance; and</li>
                    <li>Do not deduct Risk Insurance Fee from Account Value for 12 months from the Contract Month Anniversary immediately following the advance date.</li>
                </ul>
                The Terminal Cancer Benefit will be deducted from:
                <ul>
                    <li>Account value if the Insured Person is alive after 12 months from the date of receiving the Terminal Cancer Benefit; or</li>
                    <li>Death/Permanent Total Disability benefit if the Insured Person dies/suffers Total and Permanent Disability within 12 months from the date of receiving the Terminal Cancer Benefit.</li>
                </ul>
            </p>
        </dd>

        <dt class="col-sm-3">Maturity benefits</dt>
        <dd class="col-sm-9">
            <p>
                If the Insurance Contract is valid and the Insured is alive on the Policy Maturity Date, The Insurer will pay the Account Value on the Policy Maturity Date, minus the Debt (if any).
            </p>
        </dd>
    </dl>
</section>
<!-- Insurance Benefits End -->
<!-- Insurance Benefits Start -->
<section class="row mt-3">
    <div class="text-uppercase h5 border-bottom border-primary text-primary">
        VII. Exclusion clauses
    </div>
    <dl class="row">
        <dt class="col-sm-3">Death Benefit Exclusions</dt>
        <dd class="col-sm-9">
            <p>
                The Insurer will not pay the Death Benefit in Article 5.1 in case the Insured Person dies due to:
                <ul>
                    <li>
                        Suicidal action within 2 years from the Contract Effective Date or the latest contract validity restoration date (if any).
                        <br />
                        In addition, in case the Policyholder increases the Sum Insured, the insurance exclusion due to suicide specified in this Article will be applied to the increase in the Sum Insured within 2 years from the date effect of increase in Sum Assured;
                    </li>
                    <li>
                        Intentional acts of the Policyholder and Beneficiary towards the Insured Person.
                        <br />
                        In case one or several Beneficiaries intentionally cause the death of the Insured Person, The Insurer will only pay insurance benefits to the other Beneficiaries corresponding to the portion belonging to these Beneficiaries;
                    </li>
                    <li>Death due to execution of death sentence;</li>
                    <li>Acquired immunodeficiency syndrome AIDS, diseases related to AIDS or caused by the virus that causes AIDS, except in cases of HIV infection while performing duties at work as a healthcare worker or police or police;</li>
                    <li>Pre-existing disease.</li>
                </ul>
            </p>
        </dd>

        <dt class="col-sm-3">Permanent Total Disability Benefits Exclusions</dt>
        <dd class="col-sm-9">
            <p>
                The Insurer will not pay Total and Permanent Disability Benefits in the "Insurance Benefits" clause in case the Insured Person suffers Total and Permanent Disability due to:
                <ul>
                    <li>Using stimulants, drugs, or intentionally self-injuring while sober or insane;</li>
                    <li>War or warlike activities, including acts of aggression, acts of hostile countries, wars (declared or not), civil wars, rebellions, revolutions, insurrections, military coups abuse or usurpation of power;</li>
                    <li>Intentional acts of the Policyholder, the Insured or the Beneficiary. In the case of a Beneficiary, The Insurer will pay insurance benefits only to a Designated Beneficiary who has not participated in such acts and according to the specified or pro rata portion of the insurance benefits;</li>
                    <li>Military service in time of war, whether war is declared or not, or acting under orders to fight or restore public order;</li>
                    <li>Participate in dangerous sports, including as a professional athlete, such as scuba diving, bungee jumping, skydiving, mountain climbing, horse racing or wheeled vehicle racing car;</li>
                    <li>Boarding, disembarking, operating, servicing, or being carried on air transport equipment or vehicles except when the Insured Person, as a passenger, is traveling on commercial flights with regular schedules on established routes;</li>
                    <li>Treatment of radiation or radioactive contamination;</li>
                    <li>Criminal acts or intentional participation in criminal acts, or acts that violate the law by the Insured Person;</li>
                    <li>Pre-existing disease.</li>
                </ul>
            </p>
        </dd>

        <dt class="col-sm-3">Terminal Cancer Benefit Exclusions</dt>
        <dd class="col-sm-9">
            <p>
                The Insurer will not pay Terminal Cancer Benefits in the "Insurance Benefits" clause in case the Insured Person has Terminal Cancer due to:
                <ul>
                    <li>Acquired immunodeficiency syndrome AIDS, diseases related to AIDS or caused by the virus that causes AIDS, except in cases of HIV infection while performing duties at work as a healthcare worker or police or police;</li>
                    <li>Pre-existing disease.</li>
                </ul>
            </p>
        </dd>

        <dt class="col-sm-3">Other Exclusions</dt>
        <dd class="col-sm-9">
            <p>
                When the Insured Person dies in the cases specified in Article 6.1, The Insurer does not pay insurance benefits, the Insurance Contract terminates, The Insurer will pay the Policyholder whichever value is greater. between:
                <ul>
                    <li>Total premium paid for the main product (without interest), minus withdrawn amount(s) (if any); or</li>
                    <li>Refund value (if any) at the time of death of the Insured Person</li>
                </ul>
                minus Debt (if any) and medical test costs (if any).
            </p>
            <p>
                If the Insured Person dies by suicide within 2 years from the date of increase in Sum Insured but this date exceeds 2 years from the Policy Effective Date or the latest policy reinstatement date (if any), The Insurer will pay insurance benefits according to the Insurance Amount before increase.
                <br />
                When the Insured Person suffers Total and Permanent Disability in the cases specified in the "Exclusion Clause",
                <ul>
                    <li class="mb-2">
                        If the Policyholder requests to terminate the Insurance Contract, the Insurance Contract will terminate and The Insurer will pay the Policyholder the value which is greater between:
                        <ul>
                            <li>total premium paid for the main product (without interest), minus withdrawn amount(s) (if any); or</li>
                            <li>Refund value (if any) at the time the Insured Person becomes Total and Permanent Disabled</li>
                        </ul>
                        minus Debt (if any) and medical test costs (if any).
                    </li>
                    <li>If the Policyholder wants to continue participating in the Insurance Contract, the Insurance Contract will remain in effect and the Insured will continue to be protected for cases not falling under this exclusion clause.</li>
                </ul>
            </p>
        </dd>
    </dl>
</section>
<!-- Insurance Benefits End -->
<!-- Insurance Premium Payment Start -->
<section class="row mt-3">
    <div class="text-uppercase h5 border-bottom border-primary text-primary">
        VIII. Insurance premium payment
    </div>
    <dl class="row">
        <dt class="col-sm-3"></dt>
        <dd class="col-sm-9">
            <p>
                During the first 3 years of the contract, the insurance buyer is responsible for paying the premium periodically in full and on time to maintain the contract validity, even if they do not receive notice from The Insurer about premium payment. dangerous.
                <br />
                From the 4th Policy Year onwards, the Policyholder can pay the insurance premium at any time to ensure that the Account Value is not lower than the Monthly Deductible.
            </p>
        </dd>
    </dl>
</section>
<!-- Insurance Premium Payment End -->
<!-- Summary loading of main policy premium Start -->
<section class="row mt-3">
    <div class="text-uppercase h5 border-bottom border-primary text-primary">
        IX. Summary loading of main policy premium
    </div>
    <dl class="row">
        <dt class="col-sm-3">Initial premium</dt>
        <dd class="col-sm-9">
            <p>
                The fee is deducted from the Basic Premium and Additional Premium collected at each premium payment before being allocated to the Account Value. The initial fee is deducted at the following rate:
                <table class="table">
                    <tr>
                        <th class="align-baseline">Year of contract</th>
                        <td class="align-baseline">1</td>
                        <td class="align-baseline">2</td>
                        <td class="align-baseline">3</td>
                        <td class="align-baseline">4 - 5</td>
                        <td class="align-baseline">6 - 10</td>
                        <td class="align-baseline">11+</td>
                    </tr>
                    <tr>
                        <th class="align-baseline">Basic insurance premium</th>
                        <td class="align-baseline">70%</td>
                        <td class="align-baseline">64%</td>
                        <td class="align-baseline">44%</td>
                        <td class="align-baseline">4.5%</td>
                        <td class="align-baseline">4.5%</td>
                        <td class="align-baseline">0%</td>
                    </tr>
                    <tr>
                        <th class="align-baseline">Supplementary insurance premium</th>
                        <td class="align-baseline">5%</td>
                        <td class="align-baseline">5%</td>
                        <td class="align-baseline">5%</td>
                        <td class="align-baseline">5%</td>
                        <td class="align-baseline">2%</td>
                        <td class="align-baseline">0%</td>
                    </tr>
                </table>
            </p>
        </dd>

        <dt class="col-sm-3">Risk insurance premium</dt>
        <dd class="col-sm-9">
            <p>The fee is deducted monthly to ensure payment of risk insurance benefits under the contract.</p>
        </dd>

        <dt class="col-sm-3">Contract management fee</dt>
        <dd class="col-sm-9">
            <p>
                The fee is deducted monthly to pay for the management and maintenance of the Insurance Contract and providing information related to the Insurance Contract.
                <br />
                Contract management fee equals 36,000 VND/month in the first year and automatically increases by 2,000 VND each calendar year thereafter. In all cases, the Contract Management Fee does not exceed 60,000 VND/month.
            </p>
        </dd>

        <dt class="col-sm-3">Fund management fee</dt>
        <dd class="col-sm-9">
            <p>
                Fund management fees are used to pay for investment and management activities of the Universal Life Fund.
                <br />
                The fund management fee does not exceed 2%/year and will be deducted before announcing the cumulative interest rate.
            </p>
        </dd>

        <dt class="col-sm-3">Fee for early contract cancellation</dt>
        <dd class="col-sm-9">
            <p>
                The fee that the insurance buyer must bear when canceling the contract before maturity. The contract cancellation fee before maturity is calculated as a percentage of the annual Basic Insurance Premium as follows:
                <table class="table">
                    <tr>
                        <th class="align-baseline">Year of contract</th>
                        <td class="align-baseline">1 - 3</td>
                        <td class="align-baseline">4</td>
                        <td class="align-baseline">5</td>
                        <td class="align-baseline">6</td>
                        <td class="align-baseline">7</td>
                        <td class="align-baseline">8</td>
                        <td class="align-baseline">9</td>
                        <td class="align-baseline">10+</td>
                    </tr>
                    <tr>
                        <th class="align-baseline">Basic premium rate on an annual basis (%)</th>
                        <td class="align-baseline">100%</td>
                        <td class="align-baseline">90%</td>
                        <td class="align-baseline">85%</td>
                        <td class="align-baseline">80%</td>
                        <td class="align-baseline">70%</td>
                        <td class="align-baseline">50%</td>
                        <td class="align-baseline">30%</td>
                        <td class="align-baseline">0%</td>
                    </tr>
                </table>
            </p>
        </dd>
    </dl>
</section>
<!-- Summary loading of main policy premium End -->
<!-- Responsibility Start -->
<section class="row mt-3">
    <div class="text-uppercase h5 border-bottom border-primary text-primary">
        X. Responsibility to declare, disclose, and secure information
    </div>
    <dl class="row">
        <dt class="col-sm-3">Responsibility to provide and explain fully, truthfully and accurately information to the Policyholder</dt>
        <dd class="col-sm-9">
            <p>
                The Insurer is responsible for providing full information related to the Insurance Contract, explaining insurance terms and conditions to the Policyholder/Insured.
                <br />
                <br />
                In case The Insurer intentionally provides false information to enter into a contract, the Insurance Buyer has the right to unilaterally suspend the implementation of the Insurance Contract; The Insurer must compensate the Policyholder for damages arising from providing false information.
            </p>
        </dd>

        <dt class="col-sm-3">Responsibility for declaring truthful, complete and accurate information of the Policyholder/Insured</dt>
        <dd class="col-sm-9">
            <p>
                The insurance buyer (and the Insured in the case of group insurance) is responsible for fully and truthfully declaring to the best of their knowledge all information necessary for The Insurer to evaluate the acceptability of the insurance. for this Insurance Contract. Health assessment, if any, does not replace the policyholder's/Insured's obligation to truthfully declare as prescribed in this Article.
                <br />
                <br />
                If the Policyholder/Insured person intentionally declares the necessary information dishonestly at the request of The Insurer, accordingly, if the information is accurate, The Insurer will not accept the insurance, The Insurer will not accept the insurance. is not responsible for paying insurance benefits and has the right to unilaterally suspend this Insurance Contract immediately upon discovery of violations by the Policyholder/Insured. In this case, The Insurer will refund the Policyholder all paid insurance premiums (without interest), except for the following amounts (if any): Debt, medical examination costs, withdrawals money from the Account Value and previously paid benefits.
                <br />
                <br />
                In case the Insurance Buyer and/or the Insured violates the obligation to declare information in this Article, but this violation does not affect the decision to accept insurance or the decision to restore the validity of the Contract. insurance according to The Insurer's regulations from time to time, The Insurer will still pay insurance benefits if an insured event occurs according to the Rules and Terms of this product.
                <br />
                <br />
                In case the Insurance Contract continues to remain in effect, The Insurer and the Policyholder may agree to collect an additional Risk Insurance Premium or adjust the Insurance Amount to decrease corresponding to the risk level (if any).
            </p>
        </dd>

        <dt class="col-sm-3">Responsibility for protecting customer information of The Insurer</dt>
        <dd class="col-sm-9">
            <div>
                The Insurer is not allowed to transfer personal information provided by the Policyholder/Insured Person in the Insurance Contract to any other third party, except in the following cases:
                <ul>
                    <li class="mb-2">Collect, use, transfer at the request of a competent state agency or for the purpose of appraisal, calculation of insurance premiums, issuance of insurance contracts, collection of insurance premiums, reinsurance, Setting up professional reserves, resolving insurance benefit payments, researching product design, preventing insurance fraud, researching and evaluating financial situation, solvency, capital adequacy , capital requirements.</li>
                    <li>
                        Other cases agreed in writing by the Policyholder/Insured, provided that:
                        <ul>
                            <li>The insurance buyer/Insured must be informed of the purpose of information transfer and have the right to choose between agreeing or disagreeing with such transfer; and</li>
                            <li>The Policyholder/Insured's refusal to allow the transfer of information to a third party other than Point a of this Clause shall not be used as a reason to refuse to enter into a contract.</li>
                        </ul>
                    </li>
                </ul>
                The Policyholder/Insured Person has the right to request The Insurer in writing to provide the personal information that The Insurer has collected and stored of the Policyholder/Insured Person.
                <br />
                <br />
                If you have any questions or complaints related to information security, the Policyholder/Insured should contact The Insurer for answers.
            </div>
        </dd>
    </dl>
</section>
<!-- Responsibility End -->
<!-- Termination Contract Start -->
<section class="row mt-3">
    <div class="text-uppercase h5 border-bottom border-primary text-primary">
        XI. Termination of Contract
    </div>
    <dl class="row">
        <dd>
            <div>
                The insurance contract will automatically terminate if one of the following events occurs, whichever occurs first:
                <ul>
                    <li>Contract maturity date; or</li>
                    <li>The insured person dies; or</li>
                    <li>Total and permanent disability benefits are approved to be paid by The Insurer; or</li>
                    <li>The insurance contract terminates according to the terms and conditions specified in the Rules and Terms of this product.</li>
                </ul>
                Attached additional products (if any) will terminate if the Insurance Contract of the main product terminates.
                <br /><br />
                In addition to the provisions on termination of the Insurance Contract in the regulations above, the Policyholder has the right to request termination of the Insurance Contract by sending a written notice to The Insurer during the term of the Insurance Contract. danger is in effect. The date of termination of the Insurance Contract is the date The Insurer receives a request to terminate the validity of the Insurance Contract from the Policyholder.
                <br /><br />
                If the Policyholder requests to terminate the Insurance Contract and the Insurance Contract has a Surrender Value, the Policyholder will receive the Surrender Value minus the Debt (if any) at the time of Contract termination. insurance. If the Insurance Contract does not have a Surrender Value, the Policyholder will not receive any money back.
            </div>
        </dd>
    </dl>
</section>
<!-- Termination Contract End -->
<!-- Settlement Benefit Start -->
<section class="row mt-3">
    <div class="text-uppercase h5 border-bottom border-primary text-primary">
        XII. Procedures for settlement benefits
    </div>
    <dl class="row">
        <dt class="col-sm-3">Priority order for receiving insurance benefits</dt>
        <dd class="col-sm-9">
            <div>
                <ol>
                    <li class="mb-3">
                        For Maturity Benefits:
                        <ul>
                            <li>The insurance buyer;</li>
                            <li>Beneficiary. If there is more than one Beneficiary, insurance benefits will be paid to the Beneficiaries according to the specified ratio. If a Beneficiary is no longer alive, his or her portion of the insurance benefits will be divided in the designated proportion to the remaining Beneficiary(s);</li>
                            <li>Legal heir of the Policyholder.</li>
                        </ul>
                    </li>
                    <li class="mb-3">
                        For Death Benefits:
                        <ul>
                            <li>Beneficiary. If there is more than one Beneficiary, insurance benefits will be paid to the Beneficiaries according to the specified ratio. If a Beneficiary is no longer alive, his or her portion of the insurance benefits will be divided in the designated proportion to the remaining Beneficiary(s);</li>
                            <li>The insurance buyer;</li>
                            <li>Legal heir of the Policyholder.</li>
                        </ul>
                    </li>
                    <li class="mb-3">
                        For Permanent Total Disability Benefits and Terminal Cancer Benefits:
                        <ul>
                            <li>The insurance buyer;</li>
                            <li>Beneficiary. If there is more than one Beneficiary, insurance benefits will be paid to the Beneficiaries according to the specified ratio. If a Beneficiary is no longer alive, his or her portion of the insurance benefits will be divided in the designated proportion to the remaining Beneficiary(s);</li>
                            <li>Legal heir of the Policyholder.</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </dd>


        <dt class="col-sm-3">Deadline for submitting requests for settlement</dt>
        <dd class="col-sm-9">
            <p>
                The Policyholder or Beneficiary is obliged to notify The Insurer of the insurance event as soon as possible from the time the Policyholder or Beneficiary becomes aware of the insurance event and provide documents as required. regulations to resolve insurance benefits. The maximum time limit for submitting a request for settlement of insurance benefits to The Insurer is 1 year from the date of the insurance event. This 1-year period does not include delay due to objective obstacles and unexpected events. force majeure event.
            </p>
        </dd>



        <dt class="col-sm-3">Documents for requesting payment of benefits</dt>
        <dd class="col-sm-9">
            <ol>
                <li class="mb-3">
                    Documents that need to be provided in case of settlement of insurance benefits upon death include:
                    <ul>
                        <li>Insurance Contract Set. If the Insurance Contract is lost, the person requesting settlement of insurance benefits must notify The Insurer according to the available form;</li>
                        <li>Request for settlement of insurance benefits according to The Insurer's form;</li>
                        <li>Evidence of the death event (Excerpt of death certificate and/or accident record, forensic anatomy record (if any in case of accidental death)), or Related medical records (Note discharged from hospital, Copy or summary of medical records);</li>
                        <li>Copy of identification documents of the person receiving insurance benefits (ID card or passport or citizen identification card);</li>
                        <li>Documents proving the right to receive insurance benefits (if any) such as documents proving the relationship with the Insured, written agreement on inheritance division...</li>
                    </ul>
                </li>
                <li class="mb-3">
                    Documents that need to be provided in case of settlement of Total Permanent Disability Benefits include:
                    <ul>
                        <li>Insurance Contract Set. If the Insurance Contract is lost, the person requesting settlement of insurance benefits must notify The Insurer according to the available form;</li>
                        <li>Request for settlement of insurance benefits according to The Insurer's form;</li>
                        <li>Proof of permanent total disability (Results of disability assessment issued by the Provincial or City Medical Examination Council, and/or accident record (if any, in case of injury caused by accident)), or relevant medical records (hospital discharge papers, copies or medical summary records);</li>
                        <li>Notarization or consular legalization of documents and evidence (in English or Vietnamese) for examination and treatment abroad;</li>
                        <li>Copy of identification documents of the person receiving insurance benefits (ID card or passport or citizen identification card).</li>
                    </ul>
                </li>
                <li class="mb-3">
                    Documents that need to be provided in case of settlement of the Terminal Cancer Benefit include:
                    <ul>
                        <li>Request for settlement of insurance benefits according to The Insurer's form;</li>
                        <li>Medical history summary or copy of medical records (medical examination books and medical documents related to examination, diagnosis and treatment) with a diagnosis of late-stage cancer issued by the hospital/facility medical;</li>
                        <li>Hospitalization documents (hospital discharge papers, detailed list of hospital treatment fees, receipts, hospital bills);</li>
                        <li>Notarization or consular legalization of documents and evidence (in English or Vietnamese) for examination and treatment abroad;</li>
                        <li>Copy of identification documents of the person receiving insurance benefits (ID card or passport or citizen identification card);</li>
                        <li>In addition to the above documents, The Insurer has the right to request additional evidence or other necessary documents to help settle insurance benefits. The cost of providing these documents or papers is paid by The Insurer.</li>
                    </ul>
                </li>
                <li class="mb-3">
                    Documents that need to be provided in case of settlement of Maturity Benefits include:
                    <ul>
                        <li>Insurance Contract Set. If the Insurance Contract is lost, the person requesting settlement of insurance benefits must notify The Insurer according to the available form;</li>
                        <li>Request for settlement of insurance benefits according to The Insurer's form;</li>
                        <li>Copy of identification documents of the person receiving insurance benefits (ID card or passport or citizen identification card).</li>
                    </ul>
                </li>
            </ol>
        </dd>


        <dt class="col-sm-3">Burden of proof</dt>
        <dd class="col-sm-9">
            <p>
                After receiving complete documents requesting payment of insurance benefits, if The Insurer refuses to pay insurance benefits, The Insurer must clearly state the reason for refusal in writing to the person requesting settlement of insurance benefits. dangerous.
            </p>
        </dd>

        <dt class="col-sm-3">Time to resolve the requesting</dt>
        <dd class="col-sm-9">
            <p>
                The Insurer will pay insurance benefits within 5 working days for Maturity Benefits and no more than 30 days for other benefits from the date The Insurer receives complete and valid documents.
                <br />
                If the delay in payment is due to The Insurer's fault, The Insurer will pay additional interest on this amount. The interest rate applied to this late payment will be equal to the advance interest rate from the Refund Value announced by The Insurer on The Insurer's official website.
            </p>
        </dd>

    </dl>
</section>
<!-- Settlement Benefit End -->
<!-- Applicable Laws Start -->
<section class="row mt-3">
    <div class="text-uppercase h5 border-bottom border-primary text-primary">
        XIII. Applicable laws and Dispute resolution
    </div>
    <dl class="row">
        <dd>
            <p>
                This insurance contract is guided and governed by the laws of Vietnam.
                <br />
                Any disputes arising from this Insurance Contract will be resolved through negotiation between the parties. In case the Policyholder and The Insurer cannot resolve the dispute themselves, each party has the right to bring the dispute to a competent court in the place where the defendant resides or is headquartered for resolution.
                <br />
                The statute of limitations for filing a lawsuit is 3 years from the time the dispute arises.
            </p>
        </dd>
    </dl>
</section>
<!-- Applicable Laws End -->
<!-- Commitments Start -->
<section class="row mt-3">
    <div class="text-uppercase h5 border-bottom border-primary text-primary">
        XIV. Commitments
    </div>
    <dl class="row">
        <dd>
            <div>
                I/We (Insurance Buyer/Insured) agree and undertake that:
                <ol>
                    <li class="mb-2">I/We have provided, fully and truthfully declared the contents of this Contract and other forms according to my/Our understanding independently. I/We understand and confirm acknowledge that this information is the basis for The Insurer to evaluate and consider accepting insurance; or do not accept insurance; or accept conditional insurance. The Insurer's acceptance to issue an Insurance Contract based on the information provided means I/We agree to the Terms and Conditions of the Insurance Contract.</li>
                    <li class="mb-2">I/We agree to let Doctors, medical facilities and other organizations and individuals provide The Insurer and/or third parties with the consent or authorization of The Insurer all information about examination and treatment of diseases, injuries, accidents, HIV/AIDS and other information related to Insured Persons/Insurers and/or BMBHs. Copies of medical records (medical records, tests and other health-related documents) provided from the above places have the same value as the originals.</li>
                    <li class="mb-2">
                        I/We agree to The Insurer:
                        <ul>
                            <li>Have the right to transfer personal information provided by I/We in the Insurance Contract and other documents to any third party in cases of collection, use, and transfer at the request of the regulatory agency. competent state or for the purpose of appraisal, calculation of insurance premiums, issuance of insurance contracts, collection of insurance premiums, reinsurance, setting up professional reserves, settlement of insurance benefit payments, research Product design research, insurance fraud prevention, research and assessment of financial situation, solvency, capital adequacy, capital requirements.</li>
                            <li>Have the right to use and provide my/our information in the Insurance Contract and other documents myself or through a third party to carry out activities for legal purposes other than the purposes stated in this section. above.</li>
                        </ul>
                    </li>
                    <li class="mb-2">By providing address/phone number/email address on this Contract, I/We agree to record this information as the most updated information for the existing Insurance Contract(s) with Company.</li>
                    <li class="mb-2">I/We understand that all communications sent to or from the phone number and/or Email that I/We have provided/updated to The Insurer are automatically understood to be sent to Me/We or sent from I/We. I/We will always maintain the phone number and email in the state of receiving information and will notify The Insurer if there are any changes. I/We agree that The Insurer will not bear any responsibility in case My/Our mobile phone number and/or Email cannot receive the information for any reason.</li>
                    <li class="mb-2">I (Policyholder) agree to electronically transact with The Insurer, whereby I (Policyholder) agree to use the electronic mail (email) and phone number that I have provided to The Insurer. Vietnam to receive the Insurance Contract and notices/documents related to the Insurance Contract.</li>
                    <li class="mb-2">
                        When provided by The Insurer with login name and password information to access the insurance contract management and customer service application ("Customer Application"), I (the Policyholder) commit to conclude:
                        <ul>
                            <li>Will keep this login name and password information confidential and will use all necessary measures to avoid and prevent transactions under my login name (the Policyholder) with The Insurer by people without authority.</li>
                            <li>Any electronic transaction performed under my login name (the Policyholder) is understood to be made by me (the Policyholder) myself.</li>
                            <li>I (the Policyholder) will regularly log in to The Insurer's Customer Application to update/receive notifications that The Insurer sends to Me/We.</li>
                            <li>Will immediately notify The Insurer upon discovering that the username and/or password is no longer under My/Our control.</li>
                        </ul>
                    </li>
                    <li class="mb-2">I (the Policyholder) further agree that The Insurer has the right to send me the Insurance Contract and notices/documents related to the Insurance Contract (i) via email (email) without I have provided/updated to The Insurer, or (ii) via the The Insurer Customer Application.</li>
                    <li class="mb-2">I/We do not participate in any transactions for the purpose of money laundering to finance terrorism or any other illegal acts during the insurance participation process.</li>
                </ol>
            </div>
        </dd>
    </dl>
</section>
<!-- Commitments End -->