@using test0000001.Models

@{
    ViewData["Title"] = "Register Complete";
    var package = ViewBag.Package as test0000001.Models.Policy;
}

@section Css {
    <style>
        .my-page-header {
            background-image: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.65) 70%, rgba(255,255,255,0.3) 100%), url('/@package?.Image');
            background-color: #fff;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}

<!-- Page Header Start -->
<div class="container-fluid page-header my-page-header py-5 mb-5 wow fadeIn"
     data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-4 animated slideInDown mb-4">@package?.Name</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/LifeInsurance">Life Insurance</a></li>
                <li class="breadcrumb-item"><a href="/LifeInsurance/@package?.Slug">@package?.Name</a></li>
                <li class="breadcrumb-item active" aria-current="#">Register Completed</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto" style="max-width: 500px">
            @* <h1 class="display-6 mb-5">
            Please pick up one Life Insurance package that most suited for you
            </h1> *@
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="card col-12 bg-white shadow-md p-5">
                        <div class="mb-4 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75"
                                 fill="currentColor" class="bi bi-check-circle text-primary" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                            </svg>
                        </div>
                        <div class="text-center">
                            <h1>Thank you for choosing us !</h1>
                            <p>
                                Your registered package is under processing in our internal progress. We've send the registerd package detail to your inbox.
                                <br />
                                In case of any inquires occurred, please feel free to contact us.
                            </p>
                            <a class="btn btn-outline-primary" href="/">Back Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
