@{
	// Layout = null;
	ViewData["Title"] = "403 Page";
}
	
	<style>
		h6 {
			color: red;
			text-decoration: underline;
		}

	</style>

<div>
	<div style="text-align:center;">
		<h1 style="color:red;">Access Denied</h1>
		<hr>
		<h3>You dont have permission to view this site.</h3>
		<h3 style="color:red;">🚫🚫🚫🚫</h3>
		<h6>error code:403 forbidden</h6>
		<a asp-action="Index" asp-controller="Home" class="btn btn-success">Back to Home</a>
	</div>
</div>

