@*
@{
    ViewData["Title"] = "IntroduceMotorInsurance";
}

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden rounded ps-5 pt-5 h-100"
                     style="min-height: 400px">
                    <img class="position-absolute w-100 h-100"
                         src="~/HomeLibrary/img/home-insurance.jpg"
                         alt=""
                         style="object-fit: cover" />
                    <div class="position-absolute top-0 start-0 bg-white rounded pe-3 pb-3"
                         style="width: 200px; height: 200px">
                        <div class="d-flex flex-column justify-content-center text-center bg-primary rounded h-100 p-3">
                            <h2 class="text-white mb-0">Home</h2>
                            <h2 class="text-white mb-0">Insurance </h2>
                            <h5 class="text-white mb-0">Services</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6 mb-5">
                        We're Here To Assist You With Exploring Protection
                    </h1>
                    <p class="fs-5 text-primary mb-4">
                        Home insurance is something everyone needs. This type of insurance allows you to be compensated for your privately owned property in the event of theft or damage.
                    </p>
                    <div class="row g-4 mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 me-3"
                                     src="~/HomeLibrary/img/icon/icon-04-primary.png"
                                     alt="" />
                                <h5 class="mb-0">Flexible Insurance Plans</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 me-3"
                                     src="~/HomeLibrary/img/icon/icon-03-primary.png"
                                     alt="" />
                                <h5 class="mb-0">Money Back Guarantee</h5>
                            </div>
                        </div>
                    </div>
                    <p class="mb-4">
                        The insured object is a private house or apartment.<br />
                        Compensate for damages occurring to insured property.<br />
                        Preferential fees compared to the market.<br />
                        Fast and professional compensation service support.<br />
                    </p>
                    <div class="border-top mt-4 pt-4">
                        <div class="d-flex align-items-center">
                            <a asp-action="TakeInforCar" class="btn btn-primary py-3 px-5">Register now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp" data-wow-delay="0.7s">
            <div class="card-body">
                <h4>Who can buy home insurance?</h4>
                <p>
                    If you are over 18 years old and have documents proving your residence, you can take out home insurance. The person taking out the insurance; i.e., the policyholder, does not need a personal identity number. A personal identity number is required, however, for additional insured persons.
                </p>
                <h4>The whole family can be covered by one policy</h4>
                <p>
                    For all family members to be covered by the same home insurance policy, they must be registered to the same address. In order to be registered, you must first have a personal identity number. Children under the age of 18 can be covered by their parents' home insurance when they live together.

                    If you do not have a personal identity number, you cannot be covered under another party's policy. This means that family members over 18 years of age must have their own home insurance policy.
                </p>


                <h4>What does home insurance cover?</h4>
                <p>
                    Home insurance includes property damage, liability protection, legal expenses, and personal assault coverage. Property damage insurance covers your personal property and will cover theft, damage, and fire, etc. “Personal property” is defined as your personal belongings such as furniture, clothing, sports equipment, money and other valuable documents.
                </p>
            </div>
        </div>
    </div>
</div>

*@

@{
    ViewData["Title"] = "Introduce Motor Insurance";
}

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden rounded ps-5 pt-5 h-100"
                     style="min-height: 400px">
                    <img class="position-absolute w-100 h-100"
                         src="~/HomeLibrary/img/motor-insurance.jpg"
                         alt=""
                         style="object-fit: cover" />
                    <div class="position-absolute top-0 start-0 bg-white rounded pe-3 pb-3"
                         style="width: 200px; height: 200px">
                        <div class="d-flex flex-column justify-content-center text-center bg-primary rounded h-100 p-3">
                            <h2 class="text-white mb-0">Motor</h2>
                            <h2 class="text-white mb-0">Insurance </h2>
                            <h5 class="text-white mb-0">Services</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6 mb-5">
                        We're Here To Assist You With Exploring Protection
                    </h1>
                    <p class="fs-5 text-primary mb-4">
                        Motor insurance is something everyone needs. This type of insurance allows you to be compensated for your motor vehicle in the event of accidents, theft, or damage.
                    </p>
                    <div class="row g-4 mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 me-3"
                                     src="~/HomeLibrary/img/icon/icon-04-primary.png"
                                     alt="" />
                                <h5 class="mb-0">Flexible Insurance Plans</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 me-3"
                                     src="~/HomeLibrary/img/icon/icon-03-primary.png"
                                     alt="" />
                                <h5 class="mb-0">Money Back Guarantee</h5>
                            </div>
                        </div>
                    </div>
                    <p class="mb-4">
                        Motor insurance covers damages occurring to insured vehicles.<br />
                        Preferential fees compared to the market.<br />
                        Fast and professional compensation service support.<br />
                    </p>
                    <div class="border-top mt-4 pt-4">
                        <div class="d-flex align-items-center">
                            <a asp-action="TakeInforCar" class="btn btn-primary py-3 px-5">Register now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp" data-wow-delay="0.7s">
            <div class="card-body">
                <h4>Who can buy motor insurance?</h4>
                <p>
                    If you own a motor vehicle and are legally allowed to drive it, you can purchase motor insurance. You don't need a personal identity number for this.
                </p>
                <h4>What does motor insurance cover?</h4>
                <p>
                    Motor insurance typically covers accidents, theft, and damage to your vehicle. It may also include liability protection, legal expenses, and personal assault coverage.
                </p>
            </div>
        </div>
    </div>
</div>
