@model test0000001.Models.CarInsuredObject
@{
	ViewData["Title"] = "TakeInforCar";
}

<div class="container w-75">
	<div class="card shadow">
		<div class="card-header">
			<h4 class="card-title">Register For Private Information</h4>
			<h5 class="text-danger">@ViewBag.MsgError</h5>
			<h5 class="text-success">@ViewBag.MsgSuccess</h5>
		</div>
		<div class="card-content">
			<div class="card-body">
				<form asp-action="TakeInforCar" enctype="multipart/form-data">
					<div class="form-body">
						<div class="row">
							<!-- Hiển thị thông báo lỗi ở đây -->
							<div asp-validation-summary="All" class="text-danger"></div>
							<div class="col-6">
								<div class="form-group">
									<label for="first-name-vertical">Years of manufacture</label>
									<input asp-for="YearsOfManufacture" class="form-control" />
								</div>

								<div class="form-group">
									<label>Automaker</label>
									<input asp-for="Automaker" class="form-control" />
								</div>
								<div class="form-group">
									<label>Motor band</label>
									<input asp-for="CarBand" class="form-control" />
								</div>
								<div class="form-group">
									<div class="group">
										<label>Motor type</label>
										<input asp-for="CarType" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<div class="group">
										<label>Engine Number</label>
										<input asp-for="EngineNumber" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<div class="group">
										<label>Frame Number</label>
										<input asp-for="FrameNumber" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<div class="group">
										<label>License Plate Number </label>
										<input asp-for="LicensePlateNumber" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<div class="group">
										<label>Engine Displacement</label>
										<input asp-for="EngineDisplacement" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<div class="group">
										<label>Color</label>
										<input asp-for="Color" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<label>Car registration in the city</label>
									<input asp-for="CityOfCarReg" class="form-control" />
								</div>
							</div>
							<div class="container-xxl health-input-inform row">
								<div class="mb-3 col-6">
									<label class="form-label">Front side of VIN</label>
									<input accept="image/*" type="file" name="idPhotos" class="form-control" required>
									<div class="invalid-feedback">Accept only images</div>
								</div>
								<div class="mb-3 col-6">
									<label class="form-label">Back side of VIN</label>
									<input type="file" name="idPhotos" class="form-control" required>
									<div class="invalid-feedback">Accept only images</div>
								</div>
								@*<img id="photooFront" class="col-6 d-none" src="" width="500" height="300" />
								<img id="photooBack" class="col-6 d-none" src="" width="500" height="300" />*@
							</div>
							<br />
							<div class="form-group">
								<div class="col-12 d-flex justify-content-center">
									<button type="submit" class="btn btn-primary me-1 mb-1"> Submit</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

