@{
	ViewData["Title"] = "About Us";
}
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto" style="max-width: 500px">
            <h1 class="display-6 mb-5">Meet Our Team Members</h1>
            <h3>Thank you for choosing Us</h3>
        </div>
        <div class="row g-4">
            <div class="col-lg-1 col-md-6 wow fadeInUp" data-wow-delay="0.1s"></div>
            <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="~/ProfilePicture/Kien.jpg" alt="" />
                    <div class="text-center p-4">
                        <h5>Tran Vi Kien</h5>
                        <span>Life Insurance</span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Tran Vi Kien</h5>
                        <p>Life Insurance</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-light m-1" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="~/ProfilePicture/Phuoc.jpg" alt="" />
                    <div class="text-center p-4">
                        <h5>Nguyen Huu Phuoc</h5>
                        <span>Home Insurance</span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Nguyen Huu Phuoc</h5>
                        <p>Home Insurance</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-light m-1" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="~/ProfilePicture/Thinh.jpg" alt="" />
                    <div class="text-center p-3">
                        <h5>Pham Nguyen Phuoc Thinh</h5>
                        <span>Motor Insurance</span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Pham Nguyen Phuoc Thinh</h5>
                        <p>Motor Insurance</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-light m-1" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="~/ProfilePicture/Tu.jpg" alt="" />
                    <div class="text-center p-4">
                        <h5>Le Kha Tu</h5>
                        <span>Heath Insurance + Payment</span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Le Kha Tu</h5>
                        <p>Heath Insurance + Payment</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-light m-1" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.9s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="~/ProfilePicture/Du.jpg" alt="" />
                    <div class="text-center p-4">
                        <h5>Le Van Ky Du</h5>
                        <span>User + Web Template</span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Le Van Ky Du</h5>
                        <p>User + Web Template</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-light m-1" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-6 wow fadeInUp" data-wow-delay="0.1s"></div>
        </div>
    </div>
</div>
<!-- Team End -->
