@model test0000001.Models.DTO.ChangePassword

@section Css{
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

	<link href="~/Profile/site.css" rel="stylesheet" />
	<style>

		.navbar.sticky-top {
			top: 0px !important;
		}
	</style>

}

@{
	ViewData["Title"] = "Change Password Page";

}
<div class="container-fluid p-0">
	<!-- Header -->
	<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 350px; background-image: url(https://previews.123rf.com/images/arrow/arrow1601/arrow160100002/51071368-insurance-background.jpg); background-size: cover; background-position: center top;">
		<!-- Mask -->
		<span class="mask bg-gradient-default opacity-8"></span>
		<!-- Header container -->
		<div class="container-fluid d-flex align-items-center">
			<div class="row">
				<div class="col-lg-7 col-md-10">
					<h1 class="display-2 text-white">Hello @ViewBag.user</h1>
					<p class="text-white mt-0 mb-5">This is your change password page. You can update your password at form below.</p>
					<a asp-action="Profile" asp-route-id="@User.Identity!.Name" class="btn btn-info">Back</a>

				</div>
			</div>
		</div>
	</div>
	<!-- Page content -->
	<div class="container-fluid mt--7">
		<div class="row" style="justify-content:center!important;">
			<div class="col-xl-8 order-xl-1">
				<div class="card bg-secondary shadow">
					<div class="card-header bg-white border-0">
						<div class="row align-items-center">
							<div class="col-8">
								<h3 class="mb-0">Update Password</h3>
								<h3 class="mb-0 text-success"> @ViewBag.status</h3>
							</div>

						</div>
					</div>
					@if (ViewBag.status != "Update password successfull")
					{
						<div class="card-body">
							<form asp-action="ChangePassword" onsubmit="return validateEditForm();">
								<h6 class="heading-small text-muted mb-4">User Password</h6>
								<div class="pl-lg-4">
									<div class="row">
										<div class="col-lg-8">
											<div class="form-group focused">
												<label class="form-control-label">Old Password</label>
												<input asp-for="OldPassword" type="password" class="form-control form-control-alternative" placeholder="Enter your old Password" id="oldPassword">
											</div>
										</div>

									</div>
									<div class="row">
										<div class="col-lg-8">
											<div class="form-group focused">
												<label class="form-control-label">New Password</label>
												<input asp-for="NewPassword" type="password" class="form-control form-control-alternative" placeholder="Enter your new Password" id="newPassword">
											</div>
										</div>

									</div>
									<div class="row">
										<!-- An element to toggle between password visibility -->
										<div class="col-lg-8">
											<div class="form-group focused">
												<label class="form-control-label">Show Password</label>&nbsp;&nbsp;&nbsp;
												<input type="checkbox" onclick="showPassword()" style="width:fit-content;">
											</div>
										</div>

									</div>

								</div>

								<div class="col-6 text-right">
									<input type="submit" class="btn btn-sm btn-primary" value="Update" onMouseOver="this.style.color='#0F0'" onclick="return confirm('Update Password now ?');">

								</div>
							</form>
						</div>
					}
					
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function validateEditForm() {
		// Get the value of the input field with id="oldPassword"
		var newPassword = document.getElementById("newPassword").value;

		// Get the value of the input field with id="newPassword"
		var oldPassword = document.getElementById("oldPassword").value;

		// Check input
		if(newPassword =="" || oldPassword=="" ){
			alert("Please completed all fields of form update ");
			return false;
		}
		// Regular expression to check if the password is strong enough
		var passwordRegex = /^(?=(?:[^a-z]*[a-z]){2})(?=(?:[^0-9]*[0-9]){2})(?=.*[!-\/:-@@\[-`{-~]).{8,}$/i;
		// Check if the password is strong enough
		if (!newPassword.match(passwordRegex)) {
			alert("Password must be at least 8 characters long and contain at least one lowercase letter, one uppercase letter, one special character, and one number");
			return false;
		}


		// If all checks pass, return true
		return true;
	}
	function showPassword() {
		var x = document.getElementById("oldPassword");
		var y = document.getElementById("newPassword");


		if (x.type === "password") {
			x.type = "text";
		} else {
			x.type = "password";
		}

		if (y.type === "password") {
			y.type = "text";
		} else {
			y.type = "password";
		}
	}


</script>


